*{
    padding: 0;
    margin: 0;
}

#navbarNav{
    width: 90px;
}

/* Banner */
#wrapper {
    width: 100%;
    opacity: 90%;
}

.container{
    display: flex;
}


/* kiri */
.kiri{
    width: 50%;
    color: white;
}

.kiri .item :hover{
    color: rgb(55, 255, 0);
    cursor: pointer;
    font-style: oblique;
    font-size: 24px;
}

.kiri h1 span{
    font-style: normal;
    font-size: 32px;
    color: rgb(79, 250, 79);
}

/* kanan */
.kanan{
    width: 50%;
    display: inline-flex;
    color: white;

}

.kanan .item h3:hover{
    color: white;
    cursor: pointer;
    font-size: 32px;
}

#content_banner {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-image: url('../../image/sawit.jpg');
    background-size: cover;
    background-position: center;
}

/* Navbar */

:root {
    --primary: #ffffff; /* Warna putih sebagai warna utama */
}
.navbar-nav {
    margin: 0 7rem;
    display: flex;
    list-style: none;
    padding: 0;
}
.navbar-nav li {
    position: relative;
}
.navbar-nav a {
    color: rgb(206, 203, 203);
    text-decoration: none;
    display: block;
    padding: 10px;
    position: relative;
}
.navbar-nav a:hover {
    color: rgb(0, 0, 0);
}
.navbar-nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--primary);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}
.navbar-nav li:hover a::after {
    transform: scaleX(1);
}

/* dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
}
.navbar-nav li:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}
.dropdown-item {
    text-decoration: none;
    color: #212529;
    padding: 10px;
    position: relative;
}
.dropdown-item:hover {
    background-color: #cacbcd;
}

/* PRODUK */
#produk{
    max-width: 100%;
    max-height: auto;
    z-index: -1;
}
  
.product{
    padding: 5px;
    cursor: grabbing;
    z-index: -1;
}
/* WA */
.wa{
    background-color: rgb(0, 255, 21);
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    z-index: 3;
}
.wa a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    display: flex;
}

.wa a:hover{
    color: white;
}

.wa a span:hover{
    color: white;
}
.wa img{
    max-width: 35px;
}
.wa a span{ 
    margin-top: 0px;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgb(195, 194, 194);
    color: white;
    text-align: center;
}
    
footer div {
    padding: 10px;
    position: relative;
    height: auto;
}

/* foter1 */
.footer1 p{ 
    text-align: start;
}

.footer1 img{
    width: 200px;
}

/* footer2 */
.footer2{
    display: flex;
    flex-direction: column;
}
.footer2 span{
    text-align: start;
}

.footer3{
    display: flex;
    flex-direction: column;
}
.footer3 span{
    text-align: start;
}

.footer3 span a{
    text-decoration: none;
    color: white;
}  
  

/* HANDPHONE */
@media (max-width: 600px){
    /* Banner Handphone */
    .container{
        display: block;
    }
    .kiri{
        width: 100%;
        font-size: 80%;
    }
    .kiri h1 span{
        font-size: 90%;
        text-align: left;
    }
    .kanan{
        width: 100%;
        font-size: 80%;
    }
    /* wa */
    .wa{
        border-radius: 50%;
     }
     .wa div span{
         display: none;
     }

     /* FOOTER */
     footer{
        text-align: start;
        background-color: rgb(195, 194, 194);
        font-size: 14px;
    }

    .footer1 img{
        width: 145px;
    }
    

}