*{
 padding: 0px; 
 margin: 0px;
}

#produk{
  max-width: 100%;
  max-height: auto;
}

.item{
  padding: 5px;
}
.item:hover{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #2bee09;
  cursor: grabbing;
}
